* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.login{
  text-align: start
}

tr:hover{
  background-color: #e7e7e7;
}

td {
  border: 1px solid #ccc;
}

.optionsColumn{
  text-wrap:nowrap;
  width:fit-content;
}

.modalForm{
  flex: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 1rem;


    & label {
      text-align: start;
      width: 100%;
      margin: 0;
    }

    & input[type='text']{
      width: 100%;
      height: 2rem;
      font-size: 1.75rem;
      width: 100%;
    }

    & .textAreaLabel{
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    & textarea{
      flex: 1;
      min-width: 100%;
      width: 100%;
      height: auto;
      resize: none;
    }

    & .buttonContainer {
      width: 100%;
      
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding: 1rem;
    }

    & button {
      margin: 0.25rem;
      height: fit-content;
    }
}

.modal{
  resize: both;
  overflow: auto; /* Ensures content remains visible when resized */
  padding: 0;
  border: 2px solid #222; /* Border for visualization */
  width: 80%;
  height: 80%;
}
.modalContainer {
  width: 100%; /* Initial width */
  height: 100%; /* Initial height */
}